/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import "_header";
body {
	font-family: "Poppins", sans-serif;
	font-family: "Roboto", sans-serif;
}
$color_black: #021206;
$color_white: #ffffff;
$color_red: #f44545;
$color_grey: #D0D1D2;
@mixin font($ff, $fs, $fw, $fz, $lh, $c) {
	font-family: $ff;
	font-style: $fs;
	font-weight: $fw;
	font-size: $fz;
	line-height: $lh;
	color: $c;
}
.wrapper {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	.center {
		// width: 1155px;
		width: 100%;
		max-width: 1155px;
		margin: 0 auto;
	}
	.center1 {
		width: 100%;
		max-width: 1321px;
		margin: 0 auto;
	}
	.center3 {
		width: 100%;
		max-width: 1216px;
		margin: 0px 227px 0px 157px;
	}
	.center-right {
		width: 100%;
		max-width: 1240px;
		margin: 0px 122px 0px 228px;
	}
	.center-descover{
		width: 100%;
		max-width: 1203px;
		margin: 0 170px 208px 227px;
	}
	.center-servin{
		width: 100px;
		margin-left: 130px;
		// max-width: 1184px;
	}

	.develop {
		display: flex;
		justify-content: space-between;
		height: 496px;
		margin-bottom: 110px;
		.develop-left {
			display: flex;
			flex-direction: column;
			margin-top: 47px;
			flex-basis: 510px;
			margin-left: 70px;
			h1 {
				font-family: Poppins;
				font-weight: 600;
				font-size: 54px;
				line-height: 81px;
				color: $color_black;
				margin-bottom: 25px;
				// span {
				// }
			}
			.one {
				// color: linear-gradient(#3effc0 100%, #18ca90 100%);
				color: #3effc0;
			}
			p {
				font-family: Poppins;
				font-size: 21px;
				line-height: 160%;
				color: $color_black;
				opacity: 0.7;
				margin-bottom: 30px;
				.two {
					font-weight: 500;
				}
			}
			form {
				margin-bottom: 35px;
				input {
					font-family: Poppins;
					font-size: 18px;
					line-height: 27px;
					color: $color_black;
					opacity: 0.5;
					width: 472px;
					height: 65px;
					background: #ffffff;
					border-radius: 6px;
					background-color: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
					position: relative;
					padding-left: 24px;
				}
				button {
					font-family: Poppins;
					font-style: normal;
					font-weight: 500;
					font-size: 21px;
					line-height: 31px;
					color: #ffffff;
					padding: 11px 33px 10px;
					background-color: #f44545;
					border: solid 1px #f44545;
					border-radius: 6px;
					position: absolute;
					margin-left: -130px;
					margin-top: 8px;
					box-sizing: border-box;
				}
			}
			.google-apple {
				.google-left {
					margin-right: 30px;
				}
			}
		}
		.develop-right {
			display: grid;
			grid-template-columns: auto auto auto;
			grid-template-rows: auto auto auto auto;
			flex: 1 1 447px;
			.laptop {
				margin-top: -29px;
				margin-left: -227px;
			}
			.phone {
				margin-left: 77px;
				margin-top: 185px;
				z-index: 2;
			}
			.corp {
				margin-left: 68px;
				margin-top: -366px;
				z-index: 3;
			}
			.eclipse-top {
				margin-top: -624px;
				margin-left: -207px;
				z-index: -1;
			}
			.eclipse-small-top {
				margin-top: 25px;
				margin-left: -730px;
			}
			.eclipse-small-top2 {
				margin-top: -503px;
				margin-left: -730px;
			}
			.eclipse-small-top3 {
				margin-top: -503px;
				margin-left: -97px;
			}
			.eclipse-bottom {
				margin-right: -721px;
				margin-left: 624px;
				margin-top: -224px;
				z-index: -1;
			}
			.eclipse-small-bottom {
				margin-top: -83px;
				margin-left: -97px;
			}
			.eclipse-small-bottom1 {
				margin-top: 0;
				margin-left: 0;
				opacity: 0;
			}
			.eclipse-small-bottom2 {
				margin-top: -108px;
				margin-left: 564px;
			}
			.eclipse-small-bottom3 {
				margin-top: -95px;
				margin-left: -97px;
			}
		}
	}
	.software {
		display: flex;

		margin-bottom: 110px;
		.software-left {
			display: flex;
			flex-wrap: wrap;
			margin-right: 74px;
			width: 612px;
			.icon {
				background: #ffffff;
				box-shadow: 0px 15px 65px rgba(65, 77, 68, 0.15);
				border-radius: 10px;

				margin-bottom: 32px;
				margin-right: 30px;
				padding: 24px;
				.img {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 75px;
					height: 75px;
					background: 75px/75px linear-gradient(141.58deg, #ff9a9a 3.63%, #f14c4c 91.45%);
					mix-blend-mode: normal;
					box-shadow: 1px 5px 30px rgba(215, 21, 21, 0.5);
					border-radius: 10px;
					img {
						width: 35px;
						height: 35px;
					}
				}

				h3 {
					// width: 143%;
					height: 32px;
					font-family: "Poppins";
					font-style: normal;
					font-size: 21px;
					line-height: 32px;
					margin: 25px 0 9px;
				}
				p {
					font-family: "Poppins";
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 160%;
					color: #021260;
					opacity: 0.7;
					width: 223px;
					height: 78px;
				}
			}
		}
		.software-right {
			width: 548px;
			height: 405px;
			margin-top: 105px;

			.title {
				font-family: "Poppins";
				font-weight: 600;
				font-size: 45px;
				line-height: 68px;
				color: $color_black;
				margin-bottom: 20px;
			}
			p {
				font-family: "Poppins";
				font-weight: 400;
				font-size: 18px;
				line-height: 160%;
				color: $color_black;
				span {
					font-weight: 600;
				}
			}
			.btn-soft {
				margin-top: 29px;

				.btn1 {
					font-family: "Poppins";
					font-weight: 500;
					font-size: 18px;
					line-height: 160%;
					color: #fff;
					padding: 15px 40px;
					background-color: #282323;
					border: 1px solid #282323;
					border-radius: 6px;
					margin-right: 25px;
					cursor: pointer;
					transition: 0.5s ease-in;
					&:hover {
						background-color: white;
						color: #282323;
					}
				}
				.ask {
					font-family: "Poppins";
					font-weight: 500;
					font-size: 18px;
					line-height: 160%;
					color: #ff4d4d;
					transition: 0.5s ease-in;
					&:hover {
						color: $color_black;
					}
				}
			}
		}
	}
	.discover{
		display: flex;
		justify-content: space-between;
		.discover-cont-left{
			width: 524px;
			.cont-name{
				@include font('Poppins', normal, 600, 45px, 68px, $color_black);
				margin-bottom: 20px;
			}
			.descr{
				@include font('Poppins', normal, 500, 18px, 160%, $color_black);
				padding-bottom: 20px;
				width: 448px;
			}
			.desc-ul{
				>li{
					@include font('Poppins', normal, 400, 18px, 160%, $color_black);
					list-style-image: url('../images/discover-ul-img.svg');
					padding-left: 10px;
					margin-left: 30px;
				}
			}
		}
		.discover-cont-right{
			display: grid;
			grid-template-rows: 28px repeat(4, auto);
			grid-template-columns: repeat(7, 1fr);
			width: 597px;
			box-shadow: 3px 6px 44px rgba(204, 206, 204, 0.5);
			border-radius: 10px;
			position: relative;
			.one{
				grid-column: 2;
				grid-row: 1/3;
				width: 27px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-self: center;
				:first-child{
					margin:10px 0 10px 0;
					width: 7px;
					height: 7px;
					align-self: center;
				}
				:nth-child(2), :nth-child(3), :nth-child(4){
					margin: 5px 7px;
				}
				:nth-child(7), :nth-child(8), :nth-child(9){
					width: 27px;
					height: 27px;
				}
			}
			.two{
				grid-column: 3/7;
				grid-row: 1;
				width: 462px;
				height: 28px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 7px 0 7px 0;
				margin-bottom: 1px;
				.naw-left{
					display: flex;
					justify-content: space-between;
					align-items: center;
					@include font('Poppins', normal, 600, 5px, 8px, $color_grey);
					width: 162px;
					.activ{
						color:#11263C;
					}
					:nth-child(2){
						width: 49px;
					}
					:nth-last-child(n+2){ margin-right: 13px;
					}
					:nth-child(4){
						margin-left: auto;
					}
				}
				.naw-right{
					display: flex;
					justify-content: space-between;
					align-items: center;
					@include font('Poppins', normal, 500, 6px, 9px, #11263C);
					width: 95px;
					:nth-child(2){
						margin-left: 7px;
						>img{
							width: 17px;
							height: 17px;
						}
					}
					:nth-child(3){
						margin-left: 5px;
					}
					:nth-child(4){
						margin-left: auto;
					}
				}
			}
			.three{
				grid-row: 2/4;
				grid-column: 3/6;
				width: 353px;
				height: 278px;
				.three{

				}
				// .three-one{
				// 	.moon{

				// 	}
				// 	.plus{

				// 	}
				// }
				// .three-two{
				// 	.three-two-right{
				// 		.line{

				// 		}
				// 		.center{
				// 			p{

				// 			}
				// 			.calendar{

				// 			}
				// 		}

				// 	}
				// }

			}
			.aside-right{
				grid-row: 2;
				grid-column: 6;
			}
			.four{
				padding: 12px auto auto 12px;
				background: #E5E5E5;
				.yes{
					margin:12px auto 0 12px;
				}
				.four-two{
					display: flex;
					margin: 0 0 12px 12px;
					>img{
						margin-right: 3px;
					}
					>p{
						@include font('Poppins', normal, 400, 5px, 7px, rgba(66, 47, 138, 0.87))
					}
				}
				.four-content{
					background: $color_white;
						border-radius: 7px;
						box-shadow: 0px 3px 12px rgba(50, 50, 71, 0.06);
					width: 85px;
					height: 93px;
					margin-left: 12px;
					br{
						width: 54px;
						height: 0px;
						border: 1px solid #ECE9F1;
						transform: rotate(0.38deg);
					}
					.f-c{
						display: flex;
						
						width: 85px;
						height: 16px;
						padding: 4px;
						>img{
							margin-right: 11px;
							width: 16px;
							height: 16px;
						}
						.p{
						
							>p{
								@include font('Poppins', normal, 400, 5px, 7px, #D0D1D2);
							}
							.black{
								font-weight: 600;
								color: #11263C;
							}
						}
						
					}
				}

			}
		
			.five{
				grid-column: 1/4;
				grid-row: 4/5;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 133px;
				height: 158px;
				box-shadow: 14px 40px 116px rgba(0, 0, 0, 0.15);
				border-radius: 15px;
				background: url('../images/five-circle-red.png') left 20px top 21px  no-repeat, url('../images/five-circle-orange.png') right 21px top 32px  no-repeat, url('../images/five-circle-grey.png') bottom 44px right 43px  no-repeat, #FFFFFF;
				position: absolute;
				top: -101px;
				left: -45px;
				z-index: 1;
				.five-circle{
					display: flex;
					flex-direction: column;
					align-items: center;
					@include font('Poppins', normal, 700, 12px, 10px, $color_black);
					opacity: 0.8;
					margin-top: 42px;
					.users{
						@include font('Poppins', normal, 700, 8px, 10px, $color_black);
						opacity: 0.5;
						margin-top: 3px;
					}
				}
				.men-woman{
					display: flex;
					margin-top: 46px;
					.men, .woman{
						display: flex;
						align-items: center;
						@include font('Poppins', normal, 500, 8px, 10px, $color_black);
						opacity: 0.7;
						>img{
							width: 8px;
							height: 8px;
							margin-right: 4px;
						}
					}
				}
				.men{
					margin-right: 16px;
				}
			}
			.six{
				grid-column: 5/8;
				grid-row: 4/6;
				width: 257px;
				height: 236px;
				padding: 25px 22px 25px 25px;
				background: $color_white;
				box-shadow: 14px 40px 116px rgba(0, 0, 0, 0.15);
				border-radius: 12.2043px;
				position: absolute;
				top: -136px;
				right: -38px;
				.current-plan{
					display: flex;
					justify-content: space-between;
					margin-bottom: 4px;
					.title{
						@include font('Poppins', normal, 600, 14px, 21px, $color_black);
						letter-spacing: -0.02em;
						opacity: 0.8;
					}
					>img{
						width: 14px;
						height: 14px;
					}
				}
				.information{
					@include font('Poppins', normal, 400, 8px, 12px, #92959E);
					margin-bottom: 14px;
				}
				.team{
					display: flex;
					justify-content: space-between;
					margin-bottom: 17px;
					.img{
						width: 14px;
						height: 14px;
						padding: 12px;
						background: url('../images/discover-user-bg.png') no-repeat;
						// opacity: 0.1;
						border-radius: 9px;
						margin-right: 7px;
					}
					.team-plan{
						align-self: center;
						@include font('Poppins', normal, 400, 8px, 12px, $color_black);
						letter-spacing: -0.02em;
						opacity: 0.7;
						margin-right: auto;
						.team-price{
							@include font('Poppins', normal, 600, 10px, 15px, $color_black);
							letter-spacing: -0.02em;
							opacity: 0.8;
						}
					}
				}
				.projects{
					
					.info-current{
						display: flex;
					justify-content: space-between;
					@include font('Poppins', normal, 500, 8px, 12px, $color_black);
					opacity: 0.8;
					letter-spacing: -0.02em;
					margin-bottom: 5px;
						>p{
							font-size: 7px;
							line-height: 11px;
						}
					}
				}
				.current-slidercontainer{
					// width: 100%;
					
					.range{
						width: 100%;
						height: 4px;
						color:  #F56060;
						margin: 0 0 15px 0;
						cursor: pointer;
						border-radius: 9px;
						// appearance: none;
						background: #F56060;;
						// outline: none; 
						opacity: 0.7; 
						transition: opacity .2s;
						:hover{
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.serving{
		display: flex;
		justify-content: space-between;
		width: 1184px;
		height: 440px;
		.charts{
			width: 591px;
			// height: 440px;
			display: grid;
			grid-template-columns: repeat(7, auto);
			grid-template-rows: repeat(6, auto);
			background: url('../images/serving-orange-bg.svg') no-repeat left 596px top 0px, url('../images/serving-eclinpse-bg.svg') no-repeat;
			.charts-one{
				grid-column: 1/3;
				grid-row: 1/3;
				z-index: 1;
				background-color: $color_white;
				border-radius: 4px;
			
				

				.first-one{
					display: flex;
					justify-content: space-between;
					width: 150px;
					height: 138px;
					filter: drop-shadow(14px 40px 116px rgba(0, 0, 0, 0.15));
					padding: 18px 50px 12px 15px;
					@include font ('Poppins', normal, 500, 8px, 8px, #272835)
				}
				img{
					width: 7px;
					height: 7px;
				}
			}
			.charts-two{
				grid-column: 2/6;
				grid-row: 2/6;
				background-color: yellow;
			}
			.charts-three{
				grid-column: 1/4;
				grid-row: 5/8;
				background-color: green;
			}
			.charts-four{
				grid-column: 5/7;
				grid-row: 4/7;
				background-color: rgb(128, 0, 255);
			}
		}
		.serving-content-right{
			width: 499px;
			height: 136px;
			:nth-child(2){
				margin-bottom: 15px;
			}
			.cont-name{
				@include font('Poppins', normal, 600, 45px, 68px, $color_black);
				margin-bottom: 20px;
			}
			p{
				@include font('Poppins', normal, 400, 18px, 160%, $color_black);
				opacity: 0.7;
				span{
					font-weight: 600;
				}
				
			}
		}
	}



	.get-software {
		background-color: rgba(142, 230, 201, 0.1);
		margin-bottom: 117px;
		.center-right {
			display: flex;
			.get-software-left {
				width: 480px;
				h4 {
					@include font("Poppins", normal, 600, 45px, 68px, $color_black);
					padding-top: 91px;
					padding-bottom: 20px;
				}
				p {
					@include font("Poppins", normal, 400, 18px, 160%, $color_black);
					opacity: 0.7;
				}
				button {
					@include font("Poppins", normal, 500, 20px, 160%, $color_white);
					padding: 15px 33px;
					margin-top: 30px;
					margin-bottom: 91px;
					background-color: $color_red;
					border: 1px solid $color_red;
					border-radius: 6px;
					transition: 0.5s ease-in-out;
					&:hover {
						background-color: $color_white;
						color: $color_red;
					}
				}
			}
			.get-software-right {
				position: relative;
				img {
					position: absolute;
					top: -113px;
					left: -45px;
				}
			}
		}
	}

	.google-bg {
		background-color: rgba(142, 230, 201, 0.1);
		width: auto;
		margin-bottom: 110px;

		.center3 {
			width: 100%;
			max-width: 1146px;
			margin: 0 auto;
		}
		.google {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 163px;
		}
	}
	.section-cards{
		background: url('../images/cards-t-orange.svg') 195px 426px no-repeat, url('../images/cards-t-orange.svg') 206px 430px no-repeat,  url('../images/cards-t-orange.svg') 199px 439px no-repeat, url('../images/cards-circl-orange.svg') 80px 268px no-repeat,  url('../images/cards-t-blue.svg') right 194px top 163px no-repeat, url('../images/cards-t-blue.svg') right 190px top 176px no-repeat, url('../images/cards-t-blue.svg') right 201px top 173px no-repeat,url('../images/cards-circl-blue.svg') right 98px top 31px no-repeat ;
		.cards {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding-bottom: 120px;
			
			.card {
				display: flex;
				align-items: center;
				flex-direction: column;
				background: $color_white;
				border: 1px solid rgba(0, 0, 0, 0.1);
				border-radius: 15px;
				height: 604px;
	
				h4 {
					font-family: Poppins;
					font-weight: 600;
					font-size: 20px;
					line-height: 170%;
					text-align: center;
					color: $color_black;
					opacity: 0.5;
					padding: 35px 0 35px 0;
				}
				h5 {
					font-family: "Poppins";
					font-weight: 600;
					font-size: 43px;
					line-height: 100%;
					color: $color_black;
					padding-bottom: 29px;
				}
	
				.info-card {
					width: 361px;
					hr {
						border: 1px solid #011212;
						opacity: 0.1;
						color: #011212;
						margin: 0;
					}
					.info {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 22px 29px;
						img {
							padding-right: 8px;
						}
						.one-p {
							font-family: "Poppins";
							font-weight: 500;
							font-size: 16px;
							line-height: 160%;
							color: $color_black;
							opacity: 0.7;
							margin-right: auto;
							// text-decoration: line-through;
						}
						.line_through {
							text-decoration: line-through;
						}
						.yes-no {
							font-family: "Poppins";
							font-weight: 500;
							font-size: 16px;
							line-height: 160%;
							color: $color_black;
							opacity: 0.7;
						}
					}
				}
				.buy-plan {
					text-decoration: none;
				}
				.buy-plan {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 239px;
					min-height: 60px;
					border: 1px solid #f44545;
					border-radius: 5px;
					transition: 0.5s ease-in;
					margin: 42px 0 35px 0;
					// padding: 13px 10px;
					text-align: center;
				}
				.buy-plan:hover {
					color: white;
					background-color: #f44545;
				}
				.button-red {
					background-color: #f55454;
				}
				.button-red:hover {
					color: #f55454;
					background-color: white;
				}
			}
			// .card-one {
			// 	.info-card {
			// 		.info {
			// 			.one-p {
			// 				// text-decoration: none;
			// 			}
			// 		}
			// 	}
			// }
			.card-two {
				box-shadow: 0px 20px 100px rgba(2, 18, 6, 0.15);
			}
			// .card-three {
			// }
		}
	}

	.best {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		.best-pricing {
			@include font("Poppins", normal, 600, 45px, 68px, $color_black);
			margin-bottom: 20px;
		}
		p {
			@include font("Poppins", normal, 400, 18px, 170%, $color_black);
			opacity: 0.7;
			width: 754px;
			margin-bottom: 37px;
		}
		.radio {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 267px;
			margin-bottom: 17px;
			h5 {
				@include font("Poppins", normal, 400, 20px, 80%, $color_black);
				color: #4e5951;
			}
			/* The switch - the box around the slider */
			.switch {
				position: relative;
				display: inline-block;
				// width: 60px;
				// height: 34px;
				width: 58px;
				height: 29px;
			}
			/* Hide default HTML checkbox */
			.switch input {
				display: flex;
				justify-content: center;
				align-self: center;
				display: none;
			}
			/* The slider */
			.slider {
				height: 29px;
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #43ddaa;
				-webkit-transition: 0.4s;
				transition: 0.4s;
				border-radius: 6px;
			}
			.slider:before {
				position: absolute;
				content: "";
				height: 17px;
				width: 16px;
				right: 8px;
				bottom: 6px;
				background-color: $color_white;
				border-radius: 3px;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}
			input:checked + .slider {
				background-color: #43ddaa;
			}
			input:focus + .slider {
				box-shadow: 0 0 1px #43ddaa;
			}
			input:checked + .slider:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(-26px);
			}
		}
		.save-up {
			margin-bottom: 27px;
			@include font("Poppins", normal, 600, 18px, 80%, $color_black);
			opacity: 0.7;
			img {
				margin-left: 8px;
			}
		}
		// .best-pricing{
		// }
		.slidecontainer {
			display: flex;
			flex-direction: column;
			width: 1146px; /* Ширина внешнего контейнера */
			margin-bottom: 89px;
			.price {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				align-self: center;
				width: 83px;
				height: 36px;
				background: #282323;
				border-radius: 3px;
				@include font("Poppins", normal, 500, 17px, 80%, $color_white);
				margin-bottom: 23px;
				span {
					position: absolute;
					top: 35px;
					width: 15px;
					height: 15px;
					background: no-repeat url("../images/slidercontainer-price-bg.svg");
				}
			}
		}

		/* Сам ползунок */
		.slider {
			-webkit-appearance: none; /* Переопределение стилей CSS по умолчанию */
			appearance: none;
			width: 100%; /* Полная ширина */
			height: 10px; /* Заданная высота */
			background: linear-gradient(154.24deg, #85fed6 4.45%, #4edaac 83.73%);
			outline: none; /* Удалить контур */
			opacity: 0.7; /* Установите прозрачность (для эффектов наведения мыши при наведении курсора) */
			-webkit-transition: 0.2s; /* 0.2 секундный переход при наведении курсора */
			transition: opacity 0.2s;
			box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
			background-blend-mode: luminosity;
			border-radius: 10px;
		}

		/* Эффекты наведения курсора мыши */
		.slider:hover {
			opacity: 1; /* Полностью отображается при наведении курсора мыши */
		}

		/*Ползунок обработчик (использовать -webkit- (Chrome, Opera, Safari, Edge) и -moz- (Firefox) чтобы переопределить внешний вид по умолчанию ) */
		.slider::-webkit-slider-thumb {
			-webkit-appearance: none; /* Переопределить внешний вид по умолчанию */
			appearance: none;
			width: 20px; /* Установите определенную ширину обработчика ползунка */
			height: 20px; /* Высота обработчика ползунка */
			background: linear-gradient(154.24deg, #85fed6 4.45%, #4edaac 83.73%);
			background-blend-mode: luminosity;
			border-radius: 10px;
			border: 3px solid #ffffff;
			box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
			cursor: pointer; /* Курсор при наведении */
		}
	}
}
@media screen and (max-width: 1500px) {
	.wrapper {
		.center-right {
			width: 100%;
			max-width: 1146px;
			margin: 0 auto;
		}
		.develop {
			flex-direction: column;
			text-align: center;
			padding-bottom: 420px;
			.develop-left {
				margin-bottom: 50px;
				margin-left: 0px;
			}
			.develop-right {
				align-self: center;
				margin-bottom: 110px;
			}
		}
		.get-software {
			.center-right {
				.get-software-right img {
					position: absolute;
					top: -113px;
					left: -143px;
				}
			}
		}
	}
}

@media screen and (max-width: 1450px) {
	.wrapper {
		.software {
			.software-left {
				margin-right: 5px;
			}
			.software-right {
				margin-top: 0px;
				width: 480px;
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.wrapper {
		.center1 {
			max-width: 95%;
			width: auto;
		}
		.center3 {
			max-width: 95%;
			margin: 0 auto;
		}
		.center-right {
			width: 100%;
			max-width: 1146px;
			margin: 0 auto;
		}
		.software {
			display: flex;
			justify-content: space-evenly;
		}
	}
}

@media screen and (max-width: 1200px) {
	.wrapper {
		.center {
			width: auto;
			max-width: 95%;
		}
		.google-bg {
			.center3 {
				max-width: 95%;
				width: auto;
			}
		}
		.section-cards{
			.cards {
				flex-wrap: wrap;
				justify-content: center;
				
				.card-two {
					margin: 0 15px 15px 15px;
					// margin-bottom: 15px;
					// .buy-plan {
					// 	// flex-wrap: wrap;
					// }
				}
			}
		}
		
		.get-software {
			.center-right {
				width: 95%;
				.get-software-right {
					width: 10%;
					height: auto;
					img {
						top: 50px;
						left: 0;
						width: 500%;
					}
				}
			}
		}
		.best {
			.slidecontainer {
				max-width: 95%;
			}
		}
	}
}
@media screen and (max-width: 1150px) {
	.wrapper {
		.software {
			.software-left {
				display: flex;
				justify-content: center;
				.icon {
					margin-right: 0;
				}
			}
		}
	}
}
@media screen and (max-width: 1050px) {
	.wrapper {
		.software {
			display: flex;
			flex-direction: column;
			align-items: center;
			.software-left {
				justify-content: center;
				width: auto;
				.icon {
					margin-right: 5px;
				}
			}
			.software-right {
				text-align: center;
				width: auto;
				height: auto;
				margin-bottom: 50px;
			}
		}
		.get-software {
			.center-right {
				flex-direction: column;
				align-items: center;
				.get-software-left {
					width: auto;
					text-align: center;
					h4 {
						padding-top: 40px;
					}
					button {
						margin-bottom: 40px;
					}
				}
				.get-software-right {
					display: flex;
					justify-content: center;
					// width: 100%;
					img {
						position: static;
						width: 1000%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1002px) {
	.wrapper {
		.develop {
			padding-bottom: 470px;
		}
	}
}

@media screen and (max-width: 950px) {
	.wrapper {
		.google-bg {
			// .center3 {
			// }
			.google {
				flex-wrap: wrap;
				justify-content: center;
				height: auto;
				li {
					padding-right: 20px;
					padding-bottom: 20px;
					padding-top: 20px;
				}
			}
		}
		.best {
			p {
				max-width: 95%;
			}
		}
	}
}
@media screen and (max-width: 650px) {
	.wrapper {
		.center {
			max-width: 95%;
		}
		.develop {
			.develop-left {
				form {
					input {
						width: 95%;
					}
					button {
						position: static;
						margin-left: 0;
						width: 100%;
					}
				}
			}
		}
		.section-cards{
			.cards {
				.card {
					.info-card {
						// width: auto;
						.info {
							width: 95%;
							padding: 15px 5px;
						}
					}
				}
				.card-two {
					margin: 15px 0;
				}
			}
		}
		
	}
}
@media screen and (max-width: 600px) {
	.center {
		max-width: 95%;
	}
	.wrapper {
		.software {
			.software-left {
				margin-left: 0;
				.icon {
					text-align: center;
					.icon-text {
						width: auto;
					}
					.img {
						margin: 0 auto;
					}
				}
			}
			.software-right {
				margin-bottom: 20px;
				.btn-soft {
					display: flex;
					flex-direction: column;
					.btn1 {
						margin-bottom: 20px;
						margin-right: 0px;
					}
				}
			}
		}
		.get-software {
			.center-right {
				.get-software-left {
					button {
						width: 100%;
					}
				}
			}
		}
		.section-cards {
			.cards {
				display: flex;
				flex-direction: column;
				padding-bottom: 25px;
				
				.card {
					height: auto;
					// .info-card{
					// 	// width: auto;
					// }
					.buy-plan {
						width: 95%;
					}
				}
			}
		}
		.develop {
			.develop-left {
				form {
					input {
						width: 90%;
					}
					button {
						position: static;
						margin-left: 0;
						width: 100%;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 400px) {
	.wrapper {
		.section-cards {
			.cards {
				.card {
					.info-card {
						width: 100%;
					}
				}
			}
		}
	}
}

@import "_footer";
