/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper .center {
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
}

header {
  height: 57px;
  margin-top: 35px;
  margin-bottom: 110px;
}

header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-content .logo img {
  width: 26px;
  height: 26px;
  margin-right: 6px;
}

header .header-content .logo span {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #24dc9f;
  text-shadow: 0px 4px 70px rgba(155, 215, 195, 0.8);
}

header .header-content nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-content nav .menu .burger {
  display: none;
}

header .header-content nav .menu li {
  padding-right: 53px;
}

header .header-content nav .menu li a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.5;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

header .header-content nav .menu li a:hover {
  color: #f44545;
}

header .header-content nav .menu li:nth-child(3) {
  padding-right: 0;
}

header .header-content .login:first-child {
  padding-right: 23px;
}

header .header-content .login a {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.7;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

header .header-content .login a:hover {
  color: #f44545;
}

header .header-content .login .sign {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  padding: 15px 30px;
  background-color: #f44545;
  border: 1px solid #f44545;
  border-radius: 6px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .header-content .login .sign:hover {
  color: #f44545;
  background-color: #ffffff;
  border: 1px solid #f44545;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .wrapper .center {
    max-width: 95%;
    width: auto;
  }
}

@media screen and (max-width: 800px) {
  header .header-content nav .menu {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-content .login {
    margin-top: 35px;
  }
}

footer {
  background-color: rgba(142, 230, 201, 0.1);
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-menu .logo .bottom {
  padding-top: 50px;
}

footer .footer-menu .logo .bottom img {
  width: 26px;
  height: 26px;
  margin-right: 6px;
}

footer .footer-menu .logo .bottom span {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #24dc9f;
  text-shadow: 0px 4px 70px rgba(155, 215, 195, 0.8);
}

footer .footer-menu .logo p {
  margin-top: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  width: 244px;
  height: 52px;
  margin-left: 5px;
  padding-bottom: 57px;
}

footer .footer-menu ul li {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 10px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

footer .footer-menu ul li a {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 10px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

footer .footer-menu ul li a:hover {
  color: #f44545;
}

footer .footer-menu ul li:hover {
  cursor: pointer;
  color: #f44545;
}

footer .footer-menu ul li:first-child {
  font-family: Poppins;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 0;
  cursor: default;
}

@media screen and (max-width: 800px) {
  footer .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .footer-menu ul li:last-child {
    padding-bottom: 16px;
  }
  footer .footer-menu .logo p {
    padding-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */