/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  height: 57px;
  margin-top: 35px;
  margin-bottom: 110px;
}

header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-content .logo img {
  width: 26px;
  height: 26px;
  margin-right: 6px;
}

header .header-content .logo span {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #24dc9f;
  text-shadow: 0px 4px 70px rgba(155, 215, 195, 0.8);
}

header .header-content nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-content nav .menu .burger {
  display: none;
}

header .header-content nav .menu li {
  padding-right: 53px;
}

header .header-content nav .menu li a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.5;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

header .header-content nav .menu li a:hover {
  color: #f44545;
}

header .header-content nav .menu li:nth-child(3) {
  padding-right: 0;
}

header .header-content .login:first-child {
  padding-right: 23px;
}

header .header-content .login a {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.7;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

header .header-content .login a:hover {
  color: #f44545;
}

header .header-content .login .sign {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  padding: 15px 30px;
  background-color: #f44545;
  border: 1px solid #f44545;
  border-radius: 6px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .header-content .login .sign:hover {
  color: #f44545;
  background-color: #ffffff;
  border: 1px solid #f44545;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .wrapper .center {
    max-width: 95%;
    width: auto;
  }
}

@media screen and (max-width: 800px) {
  header .header-content nav .menu {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-content .login {
    margin-top: 35px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper .center {
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
}

.wrapper .center1 {
  width: 100%;
  max-width: 1321px;
  margin: 0 auto;
}

.wrapper .develop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 496px;
  margin-bottom: 110px;
}

.wrapper .develop .develop-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 47px;
  -ms-flex-preferred-size: 510px;
      flex-basis: 510px;
  margin-left: 70px;
}

.wrapper .develop .develop-left h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  color: #021206;
  margin-bottom: 25px;
}

.wrapper .develop .develop-left .one {
  color: #3effc0;
}

.wrapper .develop .develop-left p {
  font-family: Poppins;
  font-size: 21px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 30px;
}

.wrapper .develop .develop-left p .two {
  font-weight: 500;
}

.wrapper .develop .develop-left form {
  margin-bottom: 35px;
}

.wrapper .develop .develop-left form input {
  font-family: Poppins;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.5;
  width: 472px;
  height: 65px;
  background: #ffffff;
  border-radius: 6px;
  background-color: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
  position: relative;
  padding-left: 24px;
}

.wrapper .develop .develop-left form button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  color: #ffffff;
  padding: 11px 33px 10px;
  background-color: #f44545;
  border: solid 1px #f44545;
  border-radius: 6px;
  position: absolute;
  margin-left: -130px;
  margin-top: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .develop .develop-left .google-apple .google-left {
  margin-right: 30px;
}

.wrapper .develop .develop-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 447px;
          flex-direction: 447px;
}

.wrapper .develop .develop-right .laptop {
  margin-top: -29px;
  margin-left: -227px;
}

.wrapper .develop .develop-right .phone {
  margin-left: 77px;
  margin-top: 185px;
  z-index: 2;
}

.wrapper .develop .develop-right .corp {
  margin-left: 68px;
  margin-top: -366px;
  z-index: 3;
}

.wrapper .develop .develop-right .eclipse-top {
  margin-top: -624px;
  margin-left: -207px;
  z-index: -1;
}

.wrapper .develop .develop-right .eclipse-small-top {
  margin-top: 25px;
  margin-left: -730px;
}

.wrapper .develop .develop-right .eclipse-small-top2 {
  margin-top: -503px;
  margin-left: -730px;
}

.wrapper .develop .develop-right .eclipse-small-top3 {
  margin-top: -503px;
  margin-left: -97px;
}

.wrapper .develop .develop-right .eclipse-bottom {
  margin-right: -721px;
  margin-left: 624px;
  margin-top: -224px;
  z-index: -1;
}

.wrapper .develop .develop-right .eclipse-small-bottom {
  margin-top: -83px;
  margin-left: -97px;
}

.wrapper .develop .develop-right .eclipse-small-bottom1 {
  margin-top: 0;
  margin-left: 0;
  opacity: 0;
}

.wrapper .develop .develop-right .eclipse-small-bottom2 {
  margin-top: -108px;
  margin-left: 564px;
}

.wrapper .develop .develop-right .eclipse-small-bottom3 {
  margin-top: -95px;
  margin-left: -97px;
}

.wrapper .google-bg {
  background-color: #8ee6c9;
  width: auto;
  margin-bottom: 110px;
}

.wrapper .google-bg .center3 {
  width: 100%;
  max-width: 1146px;
  margin: 0 auto;
}

.wrapper .google-bg .google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 163px;
}

@media screen and (max-width: 1500px) {
  .wrapper .develop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 420px;
  }
  .wrapper .develop .develop-left {
    margin-bottom: 50px;
    margin-left: 0px;
  }
  .wrapper .develop .develop-right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 110px;
  }
}

@media screen and (max-width: 1400px) {
  .wrapper .center1 {
    max-width: 95%;
    width: auto;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper .center {
    width: auto;
    max-width: 95%;
  }
  .wrapper .google-bg .center3 {
    max-width: 95%;
    width: auto;
  }
}

@media screen and (max-width: 1002px) {
  .wrapper .develop {
    padding-bottom: 470px;
  }
}

@media screen and (max-width: 950px) {
  .wrapper .google-bg .google {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .wrapper .google-bg .google li {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

footer {
  background-color: rgba(142, 230, 201, 0.1);
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-menu .logo .bottom {
  padding-top: 50px;
}

footer .footer-menu .logo .bottom img {
  width: 26px;
  height: 26px;
  margin-right: 6px;
}

footer .footer-menu .logo .bottom span {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #24dc9f;
  text-shadow: 0px 4px 70px rgba(155, 215, 195, 0.8);
}

footer .footer-menu .logo p {
  margin-top: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  width: 244px;
  height: 52px;
  margin-left: 5px;
  padding-bottom: 57px;
}

footer .footer-menu ul li {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 10px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

footer .footer-menu ul li a {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 10px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

footer .footer-menu ul li a:hover {
  color: #f44545;
}

footer .footer-menu ul li:hover {
  cursor: pointer;
  color: #f44545;
}

footer .footer-menu ul li:first-child {
  font-family: Poppins;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 0;
  cursor: default;
}

@media screen and (max-width: 800px) {
  footer .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .footer-menu ul li:last-child {
    padding-bottom: 16px;
  }
  footer .footer-menu .logo p {
    padding-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */