@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  height: 57px;
  margin-top: 35px;
  margin-bottom: 110px;
}

header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-content .logo img {
  width: 26px;
  height: 26px;
  margin-right: 6px;
}

header .header-content .logo span {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #24dc9f;
  text-shadow: 0px 4px 70px rgba(155, 215, 195, 0.8);
}

header .header-content nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-content nav .menu .burger {
  display: none;
}

header .header-content nav .menu li {
  padding-right: 53px;
}

header .header-content nav .menu li a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.5;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

header .header-content nav .menu li a:hover {
  color: #f44545;
}

header .header-content nav .menu li:nth-child(3) {
  padding-right: 0;
}

header .header-content .login:first-child {
  padding-right: 23px;
}

header .header-content .login a {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.7;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

header .header-content .login a:hover {
  color: #f44545;
}

header .header-content .login .sign {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  padding: 15px 30px;
  background-color: #f44545;
  border: 1px solid #f44545;
  border-radius: 6px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .header-content .login .sign:hover {
  color: #f44545;
  background-color: #ffffff;
  border: 1px solid #f44545;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .wrapper .center {
    max-width: 95%;
    width: auto;
  }
}

@media screen and (max-width: 800px) {
  header .header-content nav .menu {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-content .login {
    margin-top: 35px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper .center {
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
}

.wrapper .center1 {
  width: 100%;
  max-width: 1321px;
  margin: 0 auto;
}

.wrapper .center3 {
  width: 100%;
  max-width: 1216px;
  margin: 0px 227px 0px 157px;
}

.wrapper .center-right {
  width: 100%;
  max-width: 1240px;
  margin: 0px 122px 0px 228px;
}

.wrapper .develop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 496px;
  margin-bottom: 110px;
}

.wrapper .develop .develop-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 47px;
  -ms-flex-preferred-size: 510px;
      flex-basis: 510px;
  margin-left: 70px;
}

.wrapper .develop .develop-left h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  color: #021206;
  margin-bottom: 25px;
}

.wrapper .develop .develop-left .one {
  color: #3effc0;
}

.wrapper .develop .develop-left p {
  font-family: Poppins;
  font-size: 21px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 30px;
}

.wrapper .develop .develop-left p .two {
  font-weight: 500;
}

.wrapper .develop .develop-left form {
  margin-bottom: 35px;
}

.wrapper .develop .develop-left form input {
  font-family: Poppins;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.5;
  width: 472px;
  height: 65px;
  background: #ffffff;
  border-radius: 6px;
  background-color: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
  position: relative;
  padding-left: 24px;
}

.wrapper .develop .develop-left form button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  color: #ffffff;
  padding: 11px 33px 10px;
  background-color: #f44545;
  border: solid 1px #f44545;
  border-radius: 6px;
  position: absolute;
  margin-left: -130px;
  margin-top: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .develop .develop-left .google-apple .google-left {
  margin-right: 30px;
}

.wrapper .develop .develop-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 447px;
          flex: 1 1 447px;
}

.wrapper .develop .develop-right .laptop {
  margin-top: -29px;
  margin-left: -227px;
}

.wrapper .develop .develop-right .phone {
  margin-left: 77px;
  margin-top: 185px;
  z-index: 2;
}

.wrapper .develop .develop-right .corp {
  margin-left: 68px;
  margin-top: -366px;
  z-index: 3;
}

.wrapper .develop .develop-right .eclipse-top {
  margin-top: -624px;
  margin-left: -207px;
  z-index: -1;
}

.wrapper .develop .develop-right .eclipse-small-top {
  margin-top: 25px;
  margin-left: -730px;
}

.wrapper .develop .develop-right .eclipse-small-top2 {
  margin-top: -503px;
  margin-left: -730px;
}

.wrapper .develop .develop-right .eclipse-small-top3 {
  margin-top: -503px;
  margin-left: -97px;
}

.wrapper .develop .develop-right .eclipse-bottom {
  margin-right: -721px;
  margin-left: 624px;
  margin-top: -224px;
  z-index: -1;
}

.wrapper .develop .develop-right .eclipse-small-bottom {
  margin-top: -83px;
  margin-left: -97px;
}

.wrapper .develop .develop-right .eclipse-small-bottom1 {
  margin-top: 0;
  margin-left: 0;
  opacity: 0;
}

.wrapper .develop .develop-right .eclipse-small-bottom2 {
  margin-top: -108px;
  margin-left: 564px;
}

.wrapper .develop .develop-right .eclipse-small-bottom3 {
  margin-top: -95px;
  margin-left: -97px;
}

.wrapper .software {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 110px;
}

.wrapper .software .software-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 74px;
  width: 612px;
}

.wrapper .software .software-left .icon {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 65px rgba(65, 77, 68, 0.15);
          box-shadow: 0px 15px 65px rgba(65, 77, 68, 0.15);
  border-radius: 10px;
  margin-bottom: 32px;
  margin-right: 30px;
  padding: 24px;
}

.wrapper .software .software-left .icon .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
  background: 75px/75px linear-gradient(141.58deg, #FF9A9A 3.63%, #F14C4C 91.45%);
  mix-blend-mode: normal;
  -webkit-box-shadow: 1px 5px 30px rgba(215, 21, 21, 0.5);
          box-shadow: 1px 5px 30px rgba(215, 21, 21, 0.5);
  border-radius: 10px;
}

.wrapper .software .software-left .icon .img img {
  width: 35px;
  height: 35px;
}

.wrapper .software .software-left .icon h3 {
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 21px;
  line-height: 32px;
  margin: 25px 0 9px;
}

.wrapper .software .software-left .icon p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #021260;
  opacity: 0.7;
  width: 223px;
  height: 78px;
}

.wrapper .software .software-right {
  width: 548px;
  height: 405px;
  margin-top: 105px;
}

.wrapper .software .software-right .title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;
  color: #021206;
  margin-bottom: 20px;
}

.wrapper .software .software-right p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #021206;
}

.wrapper .software .software-right p span {
  font-weight: 600;
}

.wrapper .software .software-right .btn-soft {
  margin-top: 29px;
}

.wrapper .software .software-right .btn-soft .btn1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #FFF;
  padding: 15px 40px;
  background-color: #282323;
  border: 1px solid #282323;
  border-radius: 6px;
  margin-right: 25px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.wrapper .software .software-right .btn-soft .btn1:hover {
  background-color: white;
  color: #282323;
}

.wrapper .software .software-right .btn-soft .ask {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #FF4D4D;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.wrapper .software .software-right .btn-soft .ask:hover {
  color: #021206;
}

.wrapper .get-software {
  background-color: rgba(142, 230, 201, 0.1);
  margin-bottom: 117px;
}

.wrapper .get-software .center-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .get-software .center-right .get-software-left {
  width: 480px;
}

.wrapper .get-software .center-right .get-software-left h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;
  color: #021206;
  padding-top: 91px;
  padding-bottom: 20px;
}

.wrapper .get-software .center-right .get-software-left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
}

.wrapper .get-software .center-right .get-software-left button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #ffffff;
  padding: 15px 33px;
  margin-top: 30px;
  margin-bottom: 91px;
  background-color: #F44545;
  border: 1px solid #F44545;
  border-radius: 6px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.wrapper .get-software .center-right .get-software-left button:hover {
  background-color: #ffffff;
  color: #F44545;
}

.wrapper .get-software .center-right .get-software-right {
  position: relative;
}

.wrapper .get-software .center-right .get-software-right img {
  position: absolute;
  top: -113px;
  left: -45px;
}

.wrapper .google-bg {
  background-color: rgba(142, 230, 201, 0.1);
  width: auto;
  margin-bottom: 110px;
}

.wrapper .google-bg .center3 {
  width: 100%;
  max-width: 1146px;
  margin: 0 auto;
}

.wrapper .google-bg .google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 163px;
}

.wrapper .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 120px;
}

.wrapper .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 604px;
}

.wrapper .cards .card h4 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  color: #021206;
  opacity: 0.5;
  padding: 35px 0 35px 0;
}

.wrapper .cards .card h5 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 43px;
  line-height: 100%;
  color: #021206;
  padding-bottom: 29px;
}

.wrapper .cards .card .info-card {
  width: 361px;
}

.wrapper .cards .card .info-card hr {
  border: 1px solid #011212;
  opacity: 0.1;
  color: #011212;
  margin: 0;
}

.wrapper .cards .card .info-card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 29px;
}

.wrapper .cards .card .info-card .info img {
  padding-right: 8px;
}

.wrapper .cards .card .info-card .info .one-p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  margin-right: auto;
}

.wrapper .cards .card .info-card .info .line_through {
  text-decoration: line-through;
}

.wrapper .cards .card .info-card .info .yes-no {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
}

.wrapper .cards .card .buy-plan {
  text-decoration: none;
}

.wrapper .cards .card .buy-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 239px;
  min-height: 60px;
  border: 1px solid #f44545;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  margin: 42px 0 35px 0;
  text-align: center;
}

.wrapper .cards .card .buy-plan:hover {
  color: white;
  background-color: #f44545;
}

.wrapper .cards .card .button-red {
  background-color: #f55454;
}

.wrapper .cards .card .button-red:hover {
  color: #f55454;
  background-color: white;
}

.wrapper .cards .card-two {
  -webkit-box-shadow: 0px 20px 100px rgba(2, 18, 6, 0.15);
          box-shadow: 0px 20px 100px rgba(2, 18, 6, 0.15);
}

.wrapper .best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* Сам ползунок */
  /* Эффекты наведения курсора мыши */
  /*Ползунок обработчик (использовать -webkit- (Chrome, Opera, Safari, Edge) и -moz- (Firefox) чтобы переопределить внешний вид по умолчанию ) */
}

.wrapper .best .best-pricing {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;
  color: #021206;
  margin-bottom: 20px;
}

.wrapper .best p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: #021206;
  opacity: 0.7;
  width: 754px;
  margin-bottom: 37px;
}

.wrapper .best .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 267px;
  margin-bottom: 17px;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
}

.wrapper .best .radio h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 80%;
  color: #021206;
  color: #4E5951;
}

.wrapper .best .radio .switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 29px;
}

.wrapper .best .radio .switch input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: none;
}

.wrapper .best .radio .slider {
  height: 29px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #43DDAA;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 6px;
}

.wrapper .best .radio .slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 16px;
  right: 8px;
  bottom: 6px;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-transition: .4s;
  transition: .4s;
}

.wrapper .best .radio input:checked + .slider {
  background-color: #43DDAA;
}

.wrapper .best .radio input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #43DDAA;
          box-shadow: 0 0 1px #43DDAA;
}

.wrapper .best .radio input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(-26px);
}

.wrapper .best .save-up {
  margin-bottom: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 80%;
  color: #021206;
  opacity: 0.7;
}

.wrapper .best .save-up img {
  margin-left: 8px;
}

.wrapper .best .slidecontainer {
  width: 1146px;
  /* Ширина внешнего контейнера */
  margin-bottom: 89px;
}

.wrapper .best .slider {
  -webkit-appearance: none;
  /* Переопределение стилей CSS по умолчанию */
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  /* Полная ширина */
  height: 10px;
  /* Заданная высота */
  background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
  outline: none;
  /* Удалить контур */
  opacity: 0.7;
  /* Установите прозрачность (для эффектов наведения мыши при наведении курсора) */
  -webkit-transition: .2s;
  /* 0.2 секундный переход при наведении курсора */
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  -webkit-box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
          box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
  background-blend-mode: luminosity;
  border-radius: 10px;
}

.wrapper .best .slider:hover {
  opacity: 1;
  /* Полностью отображается при наведении курсора мыши */
}

.wrapper .best .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Переопределить внешний вид по умолчанию */
  appearance: none;
  width: 20px;
  /* Установите определенную ширину обработчика ползунка */
  height: 20px;
  /* Высота обработчика ползунка */
  background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
  background-blend-mode: luminosity;
  border-radius: 10px;
  border: 3px solid #FFFFFF;
  -webkit-box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
          box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
  cursor: pointer;
  /* Курсор при наведении */
}

@media screen and (max-width: 1500px) {
  .wrapper .center-right {
    width: 100%;
    max-width: 1146px;
    margin: 0 auto;
  }
  .wrapper .develop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 420px;
  }
  .wrapper .develop .develop-left {
    margin-bottom: 50px;
    margin-left: 0px;
  }
  .wrapper .develop .develop-right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 110px;
  }
  .wrapper .get-software .center-right .get-software-right img {
    position: absolute;
    top: -113px;
    left: -143px;
  }
}

@media screen and (max-width: 1450px) {
  .wrapper .software .software-left {
    margin-right: 5px;
  }
  .wrapper .software .software-right {
    margin-top: 0px;
    width: 480px;
  }
}

@media screen and (max-width: 1400px) {
  .wrapper .center1 {
    max-width: 95%;
    width: auto;
  }
  .wrapper .center3 {
    max-width: 95%;
    margin: 0 auto;
  }
  .wrapper .center-right {
    width: 100%;
    max-width: 1146px;
    margin: 0 auto;
  }
  .wrapper .software {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper .center {
    width: auto;
    max-width: 95%;
  }
  .wrapper .google-bg .center3 {
    max-width: 95%;
    width: auto;
  }
  .wrapper .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .cards .card-two {
    margin: 0 15px 15px 15px;
  }
  .wrapper .get-software .center-right {
    width: 95%;
  }
  .wrapper .get-software .center-right .get-software-right {
    width: 10%;
    height: auto;
  }
  .wrapper .get-software .center-right .get-software-right img {
    top: 50px;
    left: 0;
    width: 500%;
  }
  .wrapper .best .slidecontainer {
    max-width: 95%;
  }
}

@media screen and (max-width: 1150px) {
  .wrapper .software .software-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .software .software-left .icon {
    margin-right: 0;
  }
}

@media screen and (max-width: 1050px) {
  .wrapper .software {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .software .software-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
  .wrapper .software .software-left .icon {
    margin-right: 5px;
  }
  .wrapper .software .software-right {
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 50px;
  }
  .wrapper .get-software .center-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .get-software .center-right .get-software-left {
    width: auto;
    text-align: center;
  }
  .wrapper .get-software .center-right .get-software-left h4 {
    padding-top: 40px;
  }
  .wrapper .get-software .center-right .get-software-left button {
    margin-bottom: 40px;
  }
  .wrapper .get-software .center-right .get-software-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .get-software .center-right .get-software-right img {
    position: static;
    width: 1000%;
  }
}

@media screen and (max-width: 1002px) {
  .wrapper .develop {
    padding-bottom: 470px;
  }
}

@media screen and (max-width: 950px) {
  .wrapper .google-bg .google {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .wrapper .google-bg .google li {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .wrapper .best p {
    max-width: 95%;
  }
}

@media screen and (max-width: 650px) {
  .wrapper .center {
    max-width: 95%;
  }
  .wrapper .develop .develop-left form input {
    width: 95%;
  }
  .wrapper .develop .develop-left form button {
    position: static;
    margin-left: 0;
    width: 100%;
  }
  .wrapper .cards .card .info-card .info {
    width: 95%;
    padding: 15px 5px;
  }
  .wrapper .cards .card-two {
    margin: 15px 0;
  }
}

@media screen and (max-width: 600px) {
  .center {
    max-width: 95%;
  }
  .wrapper .software .software-left {
    margin-left: 0;
  }
  .wrapper .software .software-left .icon {
    text-align: center;
  }
  .wrapper .software .software-left .icon .icon-text {
    width: auto;
  }
  .wrapper .software .software-left .icon .img {
    margin: 0 auto;
  }
  .wrapper .software .software-right {
    margin-bottom: 20px;
  }
  .wrapper .software .software-right .btn-soft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .software .software-right .btn-soft .btn1 {
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .wrapper .get-software .center-right .get-software-left button {
    width: 100%;
  }
  .wrapper section .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 25px;
  }
  .wrapper section .cards .card {
    height: auto;
  }
  .wrapper section .cards .card .buy-plan {
    width: 95%;
  }
  .wrapper .develop .develop-left form input {
    width: 90%;
  }
  .wrapper .develop .develop-left form button {
    position: static;
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .wrapper section .cards .card .info-card {
    width: 100%;
  }
}

footer {
  background-color: rgba(142, 230, 201, 0.1);
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-menu .logo .bottom {
  padding-top: 50px;
}

footer .footer-menu .logo .bottom img {
  width: 26px;
  height: 26px;
  margin-right: 6px;
}

footer .footer-menu .logo .bottom span {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #24dc9f;
  text-shadow: 0px 4px 70px rgba(155, 215, 195, 0.8);
}

footer .footer-menu .logo p {
  margin-top: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  width: 244px;
  height: 52px;
  margin-left: 5px;
  padding-bottom: 57px;
}

footer .footer-menu ul li {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 10px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

footer .footer-menu ul li a {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 10px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

footer .footer-menu ul li a:hover {
  color: #f44545;
}

footer .footer-menu ul li:hover {
  cursor: pointer;
  color: #f44545;
}

footer .footer-menu ul li:first-child {
  font-family: Poppins;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 0;
  cursor: default;
}

@media screen and (max-width: 800px) {
  footer .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .footer-menu ul li:last-child {
    padding-bottom: 16px;
  }
  footer .footer-menu .logo p {
    padding-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */